<li>
  <p>
    <strong><%= comment.user.name%></strong> said:
  </p>
  <p>
    <%= comment.body %>
  </p>
  <p>
    <strong><%= comment.user.name%></strong> rated this book with: <strong><%= comment.rate %></strong>
  </p>
</li>
